extends layout

include ./navigation.pug

block content
  .user-info
    h1.user-greeting Welcome #{ user.username }! 
    p.user-status Membership Status : #{ user.status.charAt(0).toUpperCase() + user.status.slice(1) }

  a#post-message(href="/message")
    button Post a Message

  .messages
    ul.message-list
      if messages.length
        each msg in messages 
          li
            h2= msg.title
            .msg-info
              p= user.status === "member" || user.status === "admin" ? `Author: ${msg.user.username}` : "Author: Anonymous"
              p= user.status === "member" || user.status === "admin" ? "(Posted On: " + msg.timeStamp.getDate() + "/" + msg.timeStamp.getMonth() + "/" + msg.timeStamp.getFullYear() + ")" : "Posted On: Hidden Date"

            h3.message= msg.text
            if user.status === 'admin'
              a.message-delete-link(href=msg.url + "/delete") Delete Message
      else
        h1(style="margin-top: 15vh")= "There are no messages! Be the first to post a message!"
