extends layout

include ./navigation.pug

block content
  #message-form.form
    form(method="POST", action="/message")
      .form-group
        label(for="title") Title Of Your Message
        input#title(
          name="title",
          type="text",
          value=undefined === title ? "" : title
        )

      .form-group
        label(for="msg") Your Message Content
        input#msg(name="msg", type="text", value=undefined === msg ? "" : msg)

      .form-group
        if errors
          ul.errors
            each err in errors
              li= err.msg
      .form-group
        button#submit(type="submit") Post Messsage
