extends layout 

block content 

    div.form#signup-form
        form(method='POST' action='/register')

            .form-group
                label(for="name") Full Name  
                input(name="name" id="name" type="text" value=undefined === name ? '' : name)

            .form-group            
                label(for="uname") User Name  
                input(name="uname" id="uname" type="text" value=undefined === uname ? '' : uname)
            
            .form-group
                label(for="pass") Password
                input(name="pass" id="pass" type="password" value=undefined === pass ? '' : pass)

            .form-group 
                label(for="cpass") Confirm Password 
                input(name="cpass" id="cpass" type="password" value=undefined === cpass ? '' : cpass)
            
            .form-group
                a(href="/login") Already Have An Account? 
                button#submit(type="submit") Signup

    if errors
        ul
        each err in errors 
                li= err.msg