extends layout

block nav
  .nav
    a(href="/") Home

    if user.status === 'user'
      a#member(href="/status/member") Become a Member
    else if user.status === 'member'
      a#member(href="/status/admin") Become an Admin

    a#logout(href="/logout") Logout

block content
  #status-form.form
    form(method="POST", action=`/status/${role}`)
      .form-group
        label(for="status") Enter The Secret Code
        input#status(
          name="status",
          type="text",
          value=undefined === secretCode ? "" : secretCode
        )

      .form-group
        if errors
          ul.errors
            each err in errors
              li= err.msg
      .form-group
        button#submit(type="submit") Change Membership Status
